<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="wIdth=device-wIdth" />
    <title>@ViewBag.Title</title>
    <script src="~/jquery/core.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
    <body class="container">

        <div>
            @RenderBody()
        </div>
        <script src="~/jquery/jquery.js"></script>
        <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
